<fieldset *ngIf="selectedPain; else inexistant">
  <div>
    <a class="button-62" routerLink="../all">Retour à la liste</a>
      <ul>
        <li class="details"><h2 class="nom">{{selectedPain.nom }} </h2></li>
        <div class="imageContainer">
          <img class="imagePain" src="http://localhost:8080/imagePain/{{selectedPain.imagePain.cheminImage}}">
        </div>
        <li class="details"> {{ selectedPain.description }}</li>
        <li class="details"><b>Prix : </b> {{ selectedPain.prix }}</li>
        <li class="details"><b>Ingredients : </b></li>
        <span *ngFor="let ingredient of selectedPain.ingredients">
          <li class="ingredient">- {{ ingredient.nom }}</li>
        </span>
      </ul>
  </div>
  <p></p>
  <h3> Allergènes :</h3>
    <ul>
      <li *ngFor="let allergene of allergenes">
  <!--      <b class="details"> {{ allergene.nom }} </b>  -->
        <img [src]="allergene.logo" alt="Logo Allergène">
      </li>
    </ul>



</fieldset>

<ng-template #inexistant>
  <div *ngIf="selectedPain == undefined">
    <h3>Pain inexistant</h3>
  </div>
</ng-template>



<div class="m-t-3"></div>

<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">

    </div>
  </div>

  <div class="footer-middle">
  <div class="container">
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2023 - City of Belgium.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
