/*html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex: 0 0 calc(50% - 20px);
}*/

.pageContainer {
  position: relative; /* Ajoutez cette ligne pour positionner le pseudo-élément correctement */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContainer::before {
  content: "";
  background-image: url('../../../../assets/images/contact.jpg');
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

.pageContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact, a {
  color: rgb(77, 8, 109);
  font-size: xx-large;
  opacity: 1;
}

b{
  font-size: xx-large;
  font-family: 'Dancing Script', cursive;
  line-height: 5;
  color: rgb(7, 7, 10);
  padding-right: 20px;
  opacity: 1;
  z-index: 1;
}

ul {
  margin-top: 0;
  padding-top: 0;
}

footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #3d6277;
  padding: 1em;
  padding-bottom: 10px;
  height: 40px;
}
.footer-top{
  background: #2d4958;
}
.footer-middle{
   background: #3d6277;
  padding-top: 2em;
  color: white;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
/*.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}*/

.nav-link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.subnavigation-container ul {
  display: flex;
  justify-content: flex-start;
}

.subnavigation-container li {
  margin-right: 200px;
}

.text-xs-center {
  display: flex;
  justify-content: center;
  margin: 0;
}


