<div class="pageContainer">
  <ul>
    <li class="contact"><b>Adresse :</b>  Rue Bois des Cuves 17, Autre-Église, Belgium </li>
    <li class="contact"><b>Email :</b> laboulangeriesauvage@gmail.com </li>
    <li class="contact"><b>Facebook :</b> <a href="https://www.facebook.com/boulangeriesauvage"> https://www.facebook.com/boulangeriesauvage </a></li>
    <li class="contact"><b>Telephone :</b> +32 472 50 49 82</li>
  </ul>
</div>

<div class="m-t-3"></div>

<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">

    </div>
  </div>

  <div class="footer-middle">
  <div class="container">
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2023 - City of Belgium.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


