
  <nav class="banner">
    <ul>
      <img src="../../../../assets/images/301395293_604215424536681_3928062337181914618_n.png" alt="Logo" class="logo">

    </ul>
  </nav>

  <fieldset class="menu">
  <li class="banner-item" data-image-url="../../../../assets/images/339983619_621441603224041_6202739545816696115_n.png"><a routerLink="loree/pain/all">Pain</a></li>
   <!--   <li class="banner-item"><a routerLink="/evenement">Événement</a></li> -->
      <li class="banner-item"><a routerLink="/historique">Notre Histoire</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Commande</a>
        <div class="dropdown-content">
          <!-- Contenu du menu déroulant -->
          <a href="#">Option 1</a>
          <a href="#">Option 2</a>
          <a href="#">Option 3</a>
        </div>
      </li>
    <li class="banner-item"><a routerLink="/contact">Contact</a></li>

  </fieldset>
