.banner {
  height: 400px;
  background-image: url('/assets/images/bg_pain2.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(240, 236, 236);
  animation: animateBackground 10s linear 1;
}

@keyframes animateBackground {
  0% {
    background-position: left; /* Position initiale de l'image */
  }
  100% {
    background-position: right; /* Position finale de l'image */
  }
}

.banner ul {
  list-style-type: none;
  margin: auto;
  padding: auto;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.banner-item {
  margin: 5%;
  text-decoration: none;
  color: #f9f9f9;
  align-items: center;
}

fieldset {
  border: none;
}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #3d6277;
  margin: 0;
  margin-bottom: 0px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Utilisez 'space-between' pour répartir les éléments sur toute la largeur */
  align-items: center;
  width: 100%; /* Définissez une largeur de 100% pour occuper tout l'espace disponible */
  max-width: 100%;
}

.menu li {
  display: inline-block;
}

.menu div a {
  text-decoration:solid;
  padding-right: 160px;
  font-weight: bold;
  font-size: x-large;
  white-space: nowrap;
  font-family: 'Satisfy', cursive;
}

.menuD {
  text-decoration: none;
  color: #4a1eb1;
}


@media (max-width: 768px) {
  /* Styles pour les écrans de petite taille (par exemple, smartphones) */
  .menu {
    flex-wrap: wrap; /* Permet aux éléments de s'enrouler lorsqu'ils ne peuvent pas tenir sur une seule ligne */
    height: auto;
  }

  .menu ul {
    justify-content: center;
  }

  .menu li {
    margin: 5px; /* Ajoute un espacement entre les éléments */
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* Ajustez cette valeur en fonction de la largeur souhaitée pour le logo */
  height: 400px; /* Ajustez cette valeur en fonction de la hauteur souhaitée pour le logo */
  margin-right: auto;
  margin-left: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(54, 25, 182);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}



footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #3d6277;
  padding: 2em;
}
.footer-top{
  background: #2d4958;
}
.footer-middle{
   background: #3d6277;
  padding-top: 2em;
  color: white;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}




