<div>
  <header class="banner">
    <ul>
      <img src="../../../../assets/images/301395293_604215424536681_3928062337181914618_n.png" alt="Logo" class="logo">
    </ul>
  </header>

  <nav class="menu">
    <div class="banner-item" data-image-url="../../../../assets/images/339983619_621441603224041_6202739545816696115_n.png"><a class="banner-item" routerLink="loree/pain/all">Nos Pains</a></div>
    <!--   <li class="banner-item"><a routerLink="/evenement">Événement</a></li> -->
      <div class="banner-item"><a class="banner-item" routerLink="loree/historique">Notre Histoire</a></div>
      <div class="dropdown">
        <a href="javascript:void(0)" class="banner-item">Commande</a>
        <div class="dropdown-content">
          <!-- Contenu du menu déroulant -->
          <a class="menuD" href="#">Se connecter</a>
          <a class="menuD" href="#">Créer un compte</a>
        </div>
    </div>
    <div class="banner-item"><a class="banner-item" routerLink="loree/contact">Contact</a></div>
  </nav>
</div>








