<div class="paragraphe">
  <p class="text">Bienvenue à "L'orée", <br>
  la boulangerie artisanale créée avec passion et dévouement par Noémie, une boulangère passionnée par les produits frais et les méthodes de travail traditionnelles. <br>
  Noémie est une artiste culinaire qui a développé une véritable passion pour la boulangerie artisanale.. <br>
  Sa passion pour les produits frais, de qualité supérieure et de saison est ce qui distingue véritablement "L'orée" de toutes les autres boulangeries. <br>
  Elle se procure ses ingrédients auprès de producteurs locaux, veillant ainsi à la qualité de ses produits et à la durabilité de l'environnement. <br>
  Tout est fait maison, du pain aux viennoiseries. <br>
  Le nom "L'orée" évoque l'idée de se connecter à la nature et aux racines profondes de l'artisanat traditionnel. Chaque bouchée que vous prendrez dans cette boulangerie vous transportera dans un univers de saveurs authentiques. <br>
  Venez découvrir "L'orée" de Noémie, une boulangerie artisanale unique en son genre, où les produits frais, les techniques traditionnelles et la passion de la boulangerie sont combinés pour offrir une expérience culinaire exceptionnelle.
  </p>
</div>

<div class="m-t-3"></div>

<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">

    </div>
  </div>

  <div class="footer-middle">
  <div class="container">
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2023 - City of Belgium.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
